.profile-page {
    background-color: #f2f6ff; /* Change to your desired color */
}

.container-p {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    background-color: #f2f6ff;
    border-radius: 10px;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .left-links {
    display: flex;
    align-items: center;
  }
  
  .right-links {
    display: flex;
    align-items: center;
  }
  
  .back-link {
    color: #3b82f6;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .back-link i {
    margin-right: 8px;
  }
  
  .right-links .btn {
    background: none;
    border: none;
    
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .right-links .btn i {
    margin-right: 8px;
  }
  
  .edit-link {
    color: #3b82f6;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  

.profile {
    display: flex;
    flex-grow: 1;
    gap: 40px;
}

.profile-left {
    flex: 1;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    
}

.profile-left img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
    margin: 0px auto 20px;
}

.profile-left h2 {
    font-size: 24px;
    color: rgb(72, 72, 205);
    text-align: center;
    font-weight: 600;

}

.profile-left p {
    color: #555;
    text-align: center;
    font-size: large;
}

.profile-left .description {
    margin: 20px ;
    color: #666;
    font-size: 14px;
    text-align: center;
}

.profile-left .skills {
    margin:  20px 0px;
    text-align: left;
    font-size: large;
    font-weight: 600;
}

.profile-left .skills button {
    background-color: #eaedf6;
    border: rgb(189, 187, 187) 1px solid;
    box-shadow: #333;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    color: #3b82f6;
    cursor: default;
    font-size: 14px;
}

.profile-left .add-notes {
    margin-top: 20px;
}

.profile-left .add-notes textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}

.profile-left .add-notes button {
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.profile-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-right .section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.profile-right .section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    border-bottom: 2px solid #e5eaf0;
    padding-bottom: 5px;
}

.profile-right .section p {
    margin: 5px 0;
    color: #555;
}

.profile-right .basic-info .info-item {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 0;
}

.profile-right .basic-info .info-item p {
    color: #757373;
    margin: 5px 0;
    text-align: left; /* Ensure left alignment */
    flex: 1; /* Ensure each item takes up the necessary space */
}

.profile-right .basic-info .info-item p span {
    display: block;
    margin-top: 5px;
    color: #434040;
    margin-right: 50px;
}

.profile-right .buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.profile-right .buttons button {
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


.experience-list {
    list-style: none;
    padding: 0;
}

.experience-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.experience-list .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.experience-list .infosys {
    background-color: #60a5fa;
}

.experience-list .pixel-studio {
    background-color: #ec4899;
}

.experience-list .ramotion-studio {
    background-color: #f59e0b;
}

.btn-blue {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #333;
    width: auto;
    border: #f2f6ff 2px solid;
    font-weight:500;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.btn-blue:hover {
    background-color: #e0edfa;
    border-color: #e0edfa;
    color: #333;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  

  .modal-conge {
    height: 600px;
    width: 500px; /* Set to 50% of the viewport width or adjust based on your design needs */
    max-width:100%; /* Maximum width so it doesn't get too large on big screens */
    min-width: fit-content; /* Minimum width so it doesn't get too small */
    background: white;
    padding: 20px;
    border-radius: 10px; /* Rounded corners for a smoother look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: relative; /* Needed for positioning the close button absolutely */
  }

  .text-conge{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #6f6f6f;
  }