.task-list {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f8f8; /* Light grey background */
    border: 1px solid #ccc; /* Grey border */
    border-radius: 4px; /* Rounded corners */
}

.task-item {
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #eee; /* Light grey bottom border */
}

.task-item:last-child {
    border-bottom: none; /* No border on the last item */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay to focus on modal */
    display: flex;
    align-items: center; /* Center modal vertically */
    justify-content: center; /* Center modal horizontally */
    z-index: 1050; /* Ensure it's above other content */
  }
  
  /* Modal Content Styles */
  .modal-content {
    width: 50%; /* Set to 50% of the viewport width or adjust based on your design needs */
    max-width: 400px; /* Maximum width so it doesn't get too large on big screens */
    min-width: 300px; /* Minimum width so it doesn't get too small */
    background: #e96907;
    padding: 20px;
    border-radius: 10px; /* Rounded corners for a smoother look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: relative; /* Needed for positioning the close button absolutely */
  }
  
  /* Close Button inside Modal */
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #666; /* Dark grey color for the close button */
  }
  .icon-button {
    background: transparent;
    border: none;
    color: #ff8800; /* Blue color, adjust according to your theme */
    cursor: pointer;
    font-size: 12px; /* Make the icon larger */
    padding: 1px 5px;
}

.icon-button:hover {
    color: #0056b3; /* A darker shade of blue for hover effect */
}
