.task-list {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f8f8; /* Light grey background */
    border: 1px solid #ccc; /* Grey border */
    border-radius: 4px; /* Rounded corners */
}

.task-item {
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #eee; /* Light grey bottom border */
}

.task-item:last-child {
    border-bottom: none; /* No border on the last item */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 52, 52, 0.3); /* Dark overlay to focus on modal */
    display: flex;
    align-items: center; /* Center modal vertically */
    justify-content: center; /* Center modal horizontally */
    z-index: 1050; /* Ensure it's above other content */
  }
  
  /* Modal Content Styles */
  .modal-content {
    width: 50%; /* Set to 50% of the viewport width or adjust based on your design needs */
    max-width: 400px; /* Maximum width so it doesn't get too large on big screens */
    min-width: 300px; /* Minimum width so it doesn't get too small */
    background: #f8f7f6;
    padding: 20px;
    border-radius: 10px; /* Rounded corners for a smoother look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: relative; /* Needed for positioning the close button absolutely */
  }
  
  /* Close Button inside Modal */
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #666; /* Dark grey color for the close button */
  }
  .icon-button {
    background: transparent;
    border: none;
    color: #ff8800; /* Blue color, adjust according to your theme */
    cursor: pointer;
    font-size: 12px; /* Make the icon larger */
    padding: 1px 5px;
}
.edit-employee-remove-btn {
  
  border: none;
  color: #ff8800; /* Blue color, adjust according to your theme */
  cursor: pointer;
  font-size: 12px; /* Make the icon larger */
  padding: 1px 5px;
  display: inline-flex;
  padding: 2px 8px;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
}

.icon-button:hover {
    color: #0056b3; /* A darker shade of blue for hover effect */
}
.btn-orange {
  background-color: orange;
  border-color: orange;
  color: white;
}

.btn-orange:hover {
  background-color: darkorange;
  border-color: darkorange;
}

.task-list {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f8f8; /* Light grey background */
  border: 1px solid #ccc; /* Grey border */
  border-radius: 4px; /* Rounded corners */
}

.task-item {
  padding: 5px;
  margin: 5px 0;
  border-bottom: 1px solid #eee; /* Light grey bottom border */
}

.task-item:last-child {
  border-bottom: none; /* No border on the last item */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay to focus on modal */
  display: flex;
  align-items: center; /* Center modal vertically */
  justify-content: center; /* Center modal horizontally */
  z-index: 1050; /* Ensure it's above other content */
}

/* Modal Content Styles */
.modal-content {
  width: 70%; /* Set to 50% of the viewport width or adjust based on your design needs */
  max-width: 400px; /* Maximum width so it doesn't get too large on big screens */
  min-width: 300px; /* Minimum width so it doesn't get too small */
  background: #f8f6f5;
  padding: 20px;
  border-radius: 10px; /* Rounded corners for a smoother look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: relative; /* Needed for positioning the close button absolutely */
}

/* Styles for the ReactTags component */
.ReactTags__tags {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.ReactTags__tagInput {
  order: 1; 
}

.ReactTags__tagInput input {
  border: none;
  outline: none;
  width: 100%;
  padding: 6px 12px;
  margin: 2px 0;
}

.ReactTags__tag {
  display: inline-flex;
  align-items: center;
  background-color: #A9A9A9;
  color: white;
  border: 1px solid #ced4da;
  border-radius: 20px;
  padding: 6px 12px;
  margin: 2px 0;
  font-size: 14px;
}

.ReactTags__remove {
  cursor: pointer;
  margin-left: 5px;
  padding-left: 8px;
  padding-bottom: 3px;
  
  background-color: #f97714;
  border-radius: 40px;
  border: none;
  
}

.button-group{
  margin-bottom: 20px;
}

.container-editEmp {
  width: 80%;
  margin-top: 40px;
  font-size: 0.95em;
  margin-left: 150px;
}

.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.sous-tache-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.range-input {
  width: 100%;
  margin-bottom: 10px;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.range-label-center {
  text-align: center;
  flex: 1;
}
.separator-st{
  width: 70%;
  height: 0.5px;
  background-color: rgb(2, 2, 2);
  margin: 0 10px;
  
}

.st-span{
  font-size:1em;
  display: flex;
  flex-direction: column;
}