/* Close Button inside Modal */
.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #666; /* Dark grey color for the close button */
  }
  .icon-button {
    background: transparent;
    border: none;
    color: #ff8800; /* Blue color, adjust according to your theme */
    cursor: pointer;
    font-size: 12px; /* Make the icon larger */
    padding: 1px 5px;
  }
  
  .icon-button:hover {
    color: #0056b3; /* A darker shade of blue for hover effect */
  }
  .btn-orange {
  background-color: orange;
  border-color: orange;
  color: white;
  }
  
  .btn-orange:hover {
  background-color: darkorange;
  border-color: darkorange;
  }
  
  .modal-add-button {
    position: absolute;
    
    right: 30px;
    border: none;
    background: none;
    font-size: 1.5  em;
    cursor: pointer;
    color: #666; /* Dark grey color for the close button */
    font-size: x-large;
  }
  
  .sous-tache-text{
    font-size: bold;
  }

  .sous-taches-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .checkbox{
    height: 30px;
    width: 30px;
    margin: 10px;
  }

  .checkbox-text{
    margin: 5px;
    font-size: large;
  }

  .containerCheckbox:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .containerCheckbox {
    display: flex;
    align-items: center; /* Align items vertically center */
    margin-bottom: 10px; /* Add space between items */
    width: auto;
  }
  
  .soustache-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Adjust the margin as needed */
  }
  
  .st-span {
    font-size: 0.9em; /* Optional: adjust the font size */
    color: #555; /* Optional: change the text color */
  }
  
  .separator-st {
    margin-top: 0; /* Add space between the span and the separator */
    border-top: 1px solid orange; /* Optional: style for the separator */
    height: 1px; /* Set the height of the separator */
    margin-bottom: 5px;
  }
  
  
  
 